body{
    background-color: white;
    background-repeat: no-repeat;
    background-position:center top;
    background-size: 100% auto;
    background-image: url('../../images/Background.jpg');
    font-family: arial;
}

.tablecore{
    border-color:#05B454;
    border: 1;
    cellpadding: 1; 
    cellspacing: 0; 
    width: 100%;
}

.tdcolor {
    border-style: solid;
    border-color: #bec0ec;
    text-align: center;
}

.tduncolor {
    border-style: solid;
    border-color: #fff;
    text-align: center;
}

.imgfix {
    height:70%;
    width:100%;
}

.imgfix2 {
    height:100%;
    width:100%;
}

.button_div{
    margin-bottom: 1px;
    margin-top: 1px;
	background: rgba(255,255,255,.5);
	text-align: center;
	padding: 3px;
	background-image: url('../../images/black_button.png');
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 25px;
	font-family: 'Arial';
	font-style:normal;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-color: rgba(40,40,40,.6);
}

.button_div2 {
    margin-bottom: 1px;
    margin-top: 1px;
	background: rgba(255,255,255,.5);
	text-align: center;
	padding: 3px;
	background-image: url('../../images/black_button.png');
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 12px;
	font-family: 'Arial';
	font-style:normal;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-color: rgba(40,40,40,.6);
}

.button_div3 {
    color: #FFFFFF;
    margin-bottom: 1px;
    margin-top: 1px;
	background: rgba(255,255,255,.5);
	text-align: center;
	padding: 3px;
	background-image: url('../../images/black_button.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 25px;
	font-family: 'Arial';
	font-style:normal;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-color: rgba(255,255,255,.6);
}

.container2{
    display:block;
    width:100%;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    
    position: absolute;
    animation:frame_middle_anim3 0.5s;
    -moz-animation:frame_middle_anim3 0.5s; /* Firefox */
    -webkit-animation:frame_middle_anim3 0.5s; /* Safari and Chrome */ 
}

.red_div {
    color: #F10;
    font: Helvetica 18pt;
    font-weight: bold;
}

.frame_div {
        border: 1px solid black;
}

input {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
