<div class="container2 red_div" ontouchmove="touchMove(event);">
  <table class="tablecore">
    <tbody>
        <tr height="20%">
            <td class="tduncolor"> 
                <a href="http://www.unclejacksbilliards.com">
                    <img class='imgfix' alt="Uncle Jacks" src="images/logo.png" onclick="Implementation.main()">
                </a>
            </td>
        </tr>
    </tbody>
  </table>
  <div id='core' style="height : 300px; overflow : auto;">
      <table class="tablecore">
          <tbody>
            <tr height="10%">
                <td>
                    <table class="tablecore">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="button_div click_action" click_action="Implementation.map()">
                                        Map
                                    </div>
                                </td>
                                <td> &nbsp; </td>
                                <td>
                                    <div class="button_div click_action" click_action="Implementation.call()">
                                        Call
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td  class="tduncolor">
                    <div class="frame_div" style="height : 100px; overflow : auto;">
                        Saturday

                    </div> 
                </td>
            </tr>
            <tr>
                <td>
                    <div  class="button_div click_action"  click_action="Implementation.poolcard();">
                        Pool Card $79
                    </div>
                <td>
            </tr>
            <tr height="30%">
                <td>
                    <div id="poolcard_div" class="frame_div" style="height : 70px; overflow : auto;">
                    <table class="tablecore">
                        <tbody>
                            <tr>
                                <td class="tduncolor" colspan="3">Pool Rates</td>
                            </tr>
                            <tr>
                                <td class="tduncolor">1</td>
                                <td class="tduncolor">2</td>
                                <td class="tduncolor">3</td>
                            </tr>
                            <tr>
                                <td class="tduncolor">$5/hr</td>
                                <td class="tduncolor">$8/hr</td>
                                <td class="tduncolor">$12/hr</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                <td>
            </tr>
            <tr height="3%">
                <td>
                    <div  class="button_div"  click_action="Register.submit()"></div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
    <table class="tablecore">
        <tbody>
            <tr>
                <td width="20%">
                    <img id="imgrsvp" class="imgfix" src="images/rsvp-icon.png" onclick='changeImage("imgrsvp","images/rsvp-icon-select.png"); Implementation.rsvp();'>
                </td>
                <td width="20%">
                    <img id="imgphotos" class="imgfix" src="images/photos-icon.png" onclick='changeImage("imgphotos","images/photos-icon-select.png"); Implementation.events();'>
                </td>
                <td width="20%">
                    <img id="imgvip" class="imgfix" src="images/vip-icon.png" onclick='changeImage("imgvip","images/vip-icon-select.png"); Implementation.vip();'>
                </td>
                <td width="20%">
                    <img id="imgphotos2" class="imgfix" src="images/photos-icon.png" onclick='changeImage("imgphotos2","images/photos-icon-select.png"); Implementation.rsvp();'>
                </td>
                <td width="20%">
                    <img id="imgmenu" class="imgfix" src="images/menu-icon.png" onclick='changeImage("imgmenu","images/menu-icon-select.png"); Implementation.menu();'>
                </td>
            <tr>
        </tbody>
    </table>
    <!-- <div class="laoding_box" id="loading_box">
        <h2>Loading...</h2>
        <div><img src="images/ajax-loader.gif"/></div>
    </div>
     -->
</div>