<center>
    <table class="tablecore" >
        <tbody>
            <tr>
                <td class="tduncolor">
                    <div class="button_div2">
                        UNCLE JACK’S HAPPY HOUR <br>
                        $2.50 for  Wells and Drafts <br>
                        Every day! 5-9pm
                    </div>
                </td>
            </tr>
            <tr>
                <td> &nbsp; </td>
            </tr>
            <tr>
                <td class="tduncolor">
                    <div class="button_div3 click_action" click_action="Implementation.signme();">
                        Sign Me Up!
                    </div>
                    <div id="eventmsm" style="font-size: 9px;">
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tduncolor">
                    <div id="eventdetails" class="frame_div" style="height : 150px; overflow : auto;">
                    
                    </div> 
                </td>
            </tr>
        </tbody>
    </table>
</center>