<center>
<table class="tablecore" >
    <tbody>
        <tr>
            <td class="tduncolor">
                <div class="button_div2 click_action" click_action="Implementation.login()">
                    UNCLE JACK’S HAPPY HOUR <br>
                    $2.50 for  Wells and Drafts <br>
                    Every day! 5-9pm
                </div>
            </td>
        </tr>
        <tr>
            <td class="tduncolor">
                <div class="button_div2 click_action" click_action="Implementation.login()">
                    9 Ball Classic Tourney <br>
                    9/15/2012 <br>
                    $15 entry
                </div>
            </td>
        </tr>
    </tbody>
</table>
</center>