
<table class="tablecore" >
    <tbody>
        <tr>
            <td>
                <div class="frame_div" style="height : 70px;">
                    <table class="tablecore" >
                        <tbody>
                            <tr>
                                <td class="tduncolor">
                                    <input type="text" name="email" id="email" placeholder="Email"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="tduncolor">
                                    <input type="text" name="password" id="password" placeholder="Password"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height : 70px; overflow : auto;">
                    
                </div> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="button_div click_action" click_action="Implementation.vip()">
                    New Member Sign-in
                </div>
            </td>
        </tr>
    </tbody>
</table>
