<center>
    <table class="tablecore" >
        <tbody>
            <tr>
                <td class="tduncolor">
                    <div class="button_div click_action" click_action="Implementation.register()">
                        Appetizers
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tduncolor">
                    <div class="button_div click_action" click_action="Implementation.register()">
                        Salads
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="button_div click_action" click_action="Implementation.register()">
                        Sandwiches
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</center>