<table class="tablecore">
    <tbody>
        <tr>
            <td class="tduncolor">
                <div class="button_div click_action" click_action="Implementation.rsvp()">
                    Reserver an Area
                </div>
            </td>
        </tr>
        <tr>
            <td class="tduncolor" align="center">
                <table class="tablecore">
                    <tbody>
                        <tr>
                            <td width="30%"> &nbsp; </td>
                            <td>
                                <div class="button_div click_action" click_action="Implementation.call()">
                                    Call
                                </div>
                            </td>
                            <td width="30%"> &nbsp; </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="frame_div" style="height : 200px; overflow : auto;">
                    <table class="tablecore">
                        <tbody>
                            <tr>
                                <td colspan="2"> 
                                    Call to reserve a section of the bar or pool tables for your next party.
                                </td>
                            </tr>
                            <tr>
                                <td>Area 1</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Area 2</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Area 2</td>
                                <td>$75</td>
                            </tr>
                            <tr>
                                <td>Pool Table 1 </td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Pool Table 2</td>
                                <td>$50</td>
                            </tr>	
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>