<table class="tablecore">
    <tbody>
        <tr>
            <td class="tduncolor">
                <div class="button_div click_action" click_action="Implementation.rsvpdo()">
                    Reserver an Area
                </div>
            </td>
        </tr>
        <tr>
            <td class="tduncolor">
                <div class="frame_div" style="height : 100px; overflow : auto;">
                    <img class='imgfix2' alt="plane" src="modules/main/images/plane.png">
                </div>
            </td>
        </tr>
        <tr>
            <td class="tduncolor" align="center">
                <table class="tablecore">
                    <tbody>
                        <tr>
                            <td width="30%"> &nbsp; </td>
                            <td>
                                <div class="button_div click_action" click_action="Implementation.call()">
                                    Call
                                </div>
                            </td>
                            <td width="30%"> &nbsp; </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="frame_div" style="height : 90px; overflow : auto;">
                    Call to reserve a section of the bar or pool tables for your next party.
                </div>
            </td>
        </tr>
    </tbody>
</table>