<center>
    <table class="tablecore" >
        <tbody>
            <tr>
                <td class="tduncolor">
                   <input type="text" name="email" id="email" maxlength="20" size="20" />
                </td>
            </tr>
            <tr>
                <td class="tduncolor">
                    <input type="text" name="password" id="password" maxlength="20" size="20" />
                </td>
            </tr>
            <tr>
                <td>
                    <div id="eventdetails" style="height : 80px; overflow : auto;">
                        
                    </div> 
                </td>
            </tr>
            <tr>
                <td>
                    <div class="button_div click_action" click_action="Implementation.register()">
                        New Member Sign-in
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</center>