<table class="tablecore" >
    <tbody>
        <tr>
            <td>
                <div class="frame_div" style="height : 130px; overflow : auto;">
                    <table class="tablecore" >
                        <tbody>
                            <tr>
                                <td class="tduncolor" colspan="2">
                                    <input type="text" id="firstname" placeholder="Firstname"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="tduncolor" colspan="2">
                                    <input type="text" id="lastname" placeholder="Lastname"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="tduncolor" colspan="2">
                                    <input type="text" id="birthdate" placeholder="Birthdate"/>
                                </td>
                                <td>
                                    <select>
                                        <option value="famele">Famele</option>
                                        <option value="male">Male</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="tduncolor" colspan="2">
                                    <input type="text" id="drink" placeholder="Favorite Drink"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height : 40px; overflow : auto;">
                    
                </div> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="frame_div" style="height : 130px; overflow : auto;">
                    <table class="tablecore" >
                        <tbody>
                            <tr>
                                <td class="tduncolor">
                                    <input type="text" id="email" placeholder="Email"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="tduncolor">
                                    <input type="text" id="password" placeholder="Password"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="tduncolor">
                                    <input type="text" id="repassword" placeholder="Re Enter Password"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
     </tbody>
</table>