<div class="frame_div" style="height : 270px; overflow : auto;">
    <table class="tablecore">
        <tbody>
            <tr>
                <td>
                    No Cover when you RSVNo Cover when you RSVP for the event.  
                    <br>
                    Happy hour pricing.
                </td>
            </tr>
        </tbody>
    </table>
</div>