.button{
    background: rgba(0,0,0,0.9);
	text-align: center;
        float: right;
	padding: 3px;
	background-image: url('../images/black_button.png');/*-webkit-gradient(linear, left top, left bottom, from( rgba(100,100,100,0.9) {a-bar-background-start}), to( rgba(0,0,0,1) /*{a-bar-background-end})); /* Saf4+, Chrome */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 17px;
	color: white;
	font-style:normal;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-color: rgba(230,230,230,.8);
	background-size:80px 100%;
        -webkit-background-size: 80px 100%; /* Saf3-4 */
     -moz-background-size: 80px 100%;
}