/**
*
* Copyright Â© 2009, 2010 Apple Inc.  All rights reserved.
*
**/

/* iAd JS Version:1.1 */
.ad-view {
	position:absolute;
	top:0;
	left:0;
	-webkit-transform:translate3d(0,0,0);
}
.ad-scroll-view {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
.ad-scroll-view>.hosting-layer {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	-webkit-transform:translate3d(0,0,0);
}
.ad-scroll-indicator {
	display:block;
	position:absolute;
	-webkit-transform:translate3d(0,0,0);
	-webkit-transition-property:opacity;
	-webkit-transition-duration:.25s;
	z-index:10;
}
.ad-scroll-indicator>* {
	position:absolute;
	top:0;
	left:0;
	-webkit-transform:translate3d(0,0,0);
}
.ad-scroll-indicator>img {
	-webkit-transform-origin:left top;
}
.ad-scroll-indicator.horizontal>* {
	width:3px;
	height:7px;
}
.ad-scroll-indicator.horizontal>img {
	left:3px;
	width:1px;
}
.ad-scroll-indicator.horizontal>div:nth-of-type(2) {
	background-position:top right;
}
.ad-scroll-indicator.vertical>* {
	width:7px;
	height:3px;
}
.ad-scroll-indicator.vertical>img {
	top:3px;
	height:1px;
}
.ad-scroll-indicator.vertical>div:nth-of-type(2) {
	background-position:bottom left;
}
.ad-scroll-indicator.indicator-default>div {
	background-image:url('../assets/scrollindicator/UIScrollerIndicatorDefault.png');
}
body.HiDPI .ad-scroll-indicator.indicator-default>div {
	background-image:url('../assets/scrollindicator/UIScrollerIndicatorDefault@2x.png');
	-webkit-background-size:7px 7px;
}
.ad-scroll-indicator.indicator-black>div {
	background-image:url('../assets/scrollindicator/UIScrollerIndicatorBlack.png');
}
body.HiDPI .ad-scroll-indicator.indicator-black>div {
	background-image:url('../assets/scrollindicator/UIScrollerIndicatorBlack@2x.png');
	-webkit-background-size:7px 7px;
}
.ad-scroll-indicator.indicator-white>div {
	background-image:url('../assets/scrollindicator/UIScrollerIndicatorWhite.png');
}
body.HiDPI .ad-scroll-indicator.indicator-white>div {
	background-image:url('../assets/scrollindicator/UIScrollerIndicatorWhite@2x.png');
	-webkit-background-size:7px 7px;
}
.ad-table-view {
	-webkit-user-select:none;
}
.ad-table-view.grouped {
	background-image:url('../assets/tableview/UIPinStripe.png');
}
body.HiDPI .ad-table-view.grouped {
	background-image:url('../assets/tableview/UIPinStripe@2x.png');
	-webkit-background-size:7px 1px;
}
.ad-table-view.grouped.separator-single-line-etched {
	background-image:-webkit-gradient(linear,left top,left bottom,from(#e2e5ea),to(#d0d2d8));
}
.ad-table-view>.hosting-layer {
	display:block;
	position:absolute;
	width:100%;
	height:auto;
	min-height:100%;
	padding:0;
	margin:0;
}
.ad-table-view.grouped>.hosting-layer {
	-webkit-box-sizing:border-box;
}
.ad-table-view.grouped .section {
	padding:10px 9px 0 9px;
	margin:0;
}
.ad-table-view.grouped .section:last-of-type {
	padding-bottom:10px;
}
.ad-table-view.grouped .section>*,.ad-table-view.grouped .cells>* {
	font-family:Helvetica;
	font-size:17px;
	font-weight:bold;
	color:#4d576d;
	text-shadow:#fafafa 0 1px 0;
	margin:0;
}
.ad-table-view.grouped .section>h1 {
	padding:8px 0 8px 10px;
}
.ad-table-view.grouped .section>span {
	display:block;
	text-align:center;
	font-size:15px;
	font-weight:normal;
	padding:7px 0 16px 0;
}
.ad-table-view.grouped .cells {
	position:relative;
}
.ad-table-view.grouped .cells>div {
	position:relative;
	width:auto;
	height:44px;
	background-color:white;
	color:black;
	border:1px solid #a8abad;
	border-bottom:none;
	-webkit-box-sizing:border-box;
}
.ad-table-view.grouped .cells>div {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.ad-table-view.grouped .cells>div:first-of-type {
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.ad-table-view.grouped .cells>div:last-of-type {
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	height:45px;
	border:1px solid #a8abad;
}
.ad-table-view.plain .section>h1 {
	position:relative;
	display:block;
	padding:1px 10px 0 12px;
	background-image:url('../assets/tableview/UISectionListHeaderBackground.png');
	width:auto;
	height:23px;
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	color:white;
	text-shadow:#64696e 0 1px 0;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	-webkit-box-sizing:border-box;
	margin:0;
	margin-top:-1px;
	z-index:1;
	-webkit-transform:translate3d(0,0,0);
}
body.HiDPI .ad-table-view.plain .section>h1 {
	background-image:url('../assets/tableview/UISectionListHeaderBackground@2x.png');
	-webkit-background-size:1px 23px;
}
.ad-table-view.plain .section>span {
	display:none;
}
.ad-table-view.plain .cells>div {
	position:relative;
	width:auto;
	height:44px;
	background-color:white;
	border-bottom:1px solid #e0e0e0;
	-webkit-box-sizing:border-box;
}
.ad-table-view.plain .cells>div:first-of-type {
	border-top:1px solid #e0e0e0;
	height:45px;
	margin-top:-1px;
}
.ad-table-view.plain .section:last-of-type .cells>div:last-of-type {
	top:-1px;
	border-top:1px solid #e0e0e0;
	height:45px;
	margin-bottom:-1px;
}
.ad-table-view.grouped.separator-single-line-etched .cells:after {
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-width:22px 10px;
	-webkit-border-image:url('../assets/tableview/UITableBorderEtched.png') 22 10 22 10;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:10px;
	pointer-events:none;
}
.ad-table-view.grouped.separator-single-line-etched .cells>div {
	background-color:rgba(255,255,255,0.92);
	border-color:transparent;
	border-top-color:rgba(0,0,0,0.15);
}
.ad-table-view.grouped.separator-single-line-etched .cells>div:first-of-type {
	border-color:transparent;
}
.ad-table-view.grouped.separator-none .cells>div {
	border-top-color:transparent;
}
.ad-table-view.grouped.separator-none .cells>div:first-of-type {
	border-top-color:#a8abad;
}
.ad-table-view.plain.separator-none .cells>div {
	border-bottom-color:transparent;
}
.ad-table-view.plain.separator-none .section:last-of-type .cells>div:last-of-type {
	border-top-color:transparent;
}
.ad-table-view-cell {
	position:relative;
	display:block;
	-webkit-transform:none;
}
.ad-table-view-cell:not([class~="style-custom"])>span {
	position:absolute;
	display:block;
	font-family:Helvetica;
	font-size:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-shadow:none;
}
.ad-table-view.grouped .ad-table-view-cell>span {
	top:12px;
	right:10px;
	left:10px;
	font-size:17px;
	font-weight:bold;
}
.ad-table-view.plain .ad-table-view-cell>span {
	top:11px;
	right:10px;
	left:10px;
	font-size:20px;
	font-weight:bold;
}
.ad-table-view-cell:not([class~="style-custom"]).selected>span {
	color:white!important;
}
.ad-table-view-cell.selected.gray-selection>span {
	color:black!important;
}
.ad-table-view-cell.selected.no-selection>span {
	color:black!important;
}
.ad-table-view-cell.style-default>span.detailed-text-label {
	display:none;
}
.ad-table-view-cell.style-subtitle>span.text-label {
	left:11px;
	top:2px;
	font-size:18px!important;
	font-weight:bold!important;
	color:black;
}
.ad-table-view-cell.style-subtitle>span.detailed-text-label {
	left:11px;
	top:25px;
	font-size:14px!important;
	font-weight:normal!important;
	color:rgb(50%,50%,50%);
}
.ad-table-view-cell.style-value-1>span.detailed-text-label {
	font-weight:normal!important;
	color:rgb(22%,33%,53%);
	text-align:right;
}
.ad-table-view-cell.style-value-2>span.text-label {
	top:13px;
	left:84px;
	font-size:15px;
}
.ad-table-view-cell.style-value-2>span.detailed-text-label {
	width:68px!important;
	top:15px;
	font-size:13px;
	text-align:right;
	color:rgb(22%,33%,53%);
}
.ad-table-view-cell.disclosure-accessory>span {
	right:25px!important;
}
.ad-table-view-cell.detail-accessory>span {
	right:35px!important;
}
.ad-table-view-cell>.ad-button.detail-disclosure-type {
	display:none;
	background-repeat:no-repeat;
	-webkit-transform:none;
}
.ad-table-view-cell.disclosure-accessory>.ad-button {
	display:block;
	background-image:url('../assets/tableview/UITableNext.png');
	width:10px;
	height:13px;
	left:auto;
	right:9px;
	top:14px;
	pointer-events:none;
}
body.HiDPI .ad-table-view-cell.disclosure-accessory>.ad-button {
	background-image:url('../assets/tableview/UITableNext@2x.png');
	-webkit-background-size:10px 13px;
}
.ad-table-view-cell.disclosure-accessory.selected>.ad-button {
	background-image:url('../assets/tableview/UITableNextSelected.png');
}
body.HiDPI .ad-table-view-cell.disclosure-accessory.selected>.ad-button {
	background-image:url('../assets/tableview/UITableNextSelected@2x.png');
}
.ad-table-view-cell.detail-accessory>.ad-button {
	display:block;
	width:44px!important;
	height:44px!important;
	left:auto;
	right:0;
	top:0;
	background-position:9px 5px;
}
.ad-table-view-cell.selected:not([class~="style-custom"]) {
	background-image:url('../assets/tableview/UITableSelection.png');
	background-repeat:repeat-x;
}
body.HiDPI .ad-table-view-cell.selected:not([class~="style-custom"]) {
	background-image:url('../assets/tableview/UITableSelection@2x.png');
	-webkit-background-size:1px 43px;
}
.ad-table-view-cell.selected.gray-selection {
	background-image:url('../assets/tableview/UITableSelectionGray.png');
	background-repeat:repeat-x;
}
body.HiDPI .ad-table-view-cell.selected.gray-selection {
	background-image:url('../assets/tableview/UITableSelectionGray@2x.png');
	-webkit-background-size:1px 43px;
}
.ad-table-view-cell.selected.no-selection {
	background-image:none;
}
.ad-carousel-view {
	position:absolute;
	-webkit-perspective:1000;
	-webkit-user-select:none;
}
.ad-carousel-view .aligner {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transform-style:preserve-3d;
}
.ad-carousel-view ul.cells {
	position:absolute;
	width:0;
	height:0;
	-webkit-transform-style:preserve-3d;
	list-style-type:none;
	-webkit-padding-start:0;
	margin:0;
}
.ad-carousel-view ul.cells>li {
	position:absolute;
	-webkit-backface-visibility:hidden;
}
.ad-navigation-bar {
	-webkit-user-select:none;
}
body.HiDPI .ad-navigation-bar {
	-webkit-background-size:1px 44px;
}
.ad-navigation-bar.default {
	background-image:url('../assets/bar/UINavigationBarDefaultBackground.png');
}
body.HiDPI .ad-navigation-bar.default {
	background-image:url('../assets/bar/UINavigationBarDefaultBackground@2x.png');
}
body.iPad .ad-navigation-bar.default {
	background-image:url('../assets/bar/UINavigationBarSilverBackground.png');
	-webkit-border-radius:5px 5px 0 0;
}
.ad-navigation-bar.black {
	background-image:url('../assets/bar/UINavigationBarBlackOpaqueBackground.png');
}
body.HiDPI .ad-navigation-bar.black {
	background-image:url('../assets/bar/UINavigationBarBlackOpaqueBackground@2x.png');
}
.ad-navigation-bar.black-translucent {
	background-image:url('../assets/bar/UINavigationBarBlackTranslucentBackground.png');
}
body.HiDPI .ad-navigation-bar.black-translucent {
	background-image:url('../assets/bar/UINavigationBarBlackTranslucentBackground@2x.png');
}
.ad-navigation-bar>.ad-bar-button {
	top:7px;
	z-index:1;
}
.ad-navigation-bar>.ad-bar-button.plain {
	z-index:0;
}
.ad-control {
	-webkit-user-select:none;
}
.ad-control.disabled {
	opacity:.5;
}
.ad-bar-button>div {
	font-family:Helvetica;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:white;
	text-shadow:rgba(0,0,0,.6) 0 -1px 0;
	width:100%;
	height:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-sizing:border-box;
}
.ad-bar-button>img {
	position:absolute;
}
.ad-bar-button.fixed-space {
	pointer-events:none;
}
.ad-bar-button.plain>div {
	padding-top:7px;
}
.ad-toolbar .ad-bar-button.plain>div,.ad-navigation-bar .ad-bar-button.plain>div {
	padding-top:3px;
	font-size:20px;
	text-shadow:rgba(0,0,0,.4) 0 -1px 0;
}
body.iPad .ad-toolbar .ad-bar-button.plain>div,body.iPad .ad-navigation-bar .ad-bar-button.plain>div {
	color:#656c73;
	text-shadow:rgba(255,255,255,.75) 0 1px 0;
}
.ad-bar-button.square>div {
	padding:8px 5px 0 5px;
	border-width:0 5px 0 5px;
}
.ad-bar-button.square.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultButton.png') 0 5 0 5;
}
body.HiDPI .ad-bar-button.square.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultButton@2x.png') 0 10 0 10;
}
body.iPad .ad-bar-button.square.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarSilverButton.png') 0 5 0 5;
}
.ad-bar-button.square.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultButtonPressed.png') 0 5 0 5;
}
body.HiDPI .ad-bar-button.square.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultButtonPressed@2x.png') 0 10 0 10;
}
body.iPad .ad-bar-button.square.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarSilverButtonPressed.png') 0 5 0 5;
}
.ad-bar-button.square.black>div,.ad-toolbar.black-translucent .ad-bar-button.square>div,.ad-navigation-bar.black-translucent .ad-bar-button.square>div,.ad-search-bar.black-translucent .ad-bar-button.square>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackTranslucentButton.png') 0 5 0 5;
}
body.HiDPI .ad-bar-button.square.black>div,body.HiDPI .ad-toolbar.black-translucent .ad-bar-button.square>div,body.HiDPI .ad-navigation-bar.black-translucent .ad-bar-button.square>div,body.HiDPI .ad-search-bar.black-translucent .ad-bar-button.square>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackTranslucentButton@2x.png') 0 10 0 10;
}
.ad-toolbar.black .ad-bar-button.square.black>div,.ad-toolbar.black .ad-bar-button.square>div,.ad-navigation-bar.black .ad-bar-button.square.black>div,.ad-navigation-bar.black .ad-bar-button.square>div,.ad-search-bar.black .ad-bar-button.square>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueButton.png') 0 5 0 5;
}
body.HiDPI .ad-toolbar.black .ad-bar-button.square.black>div,body.HiDPI .ad-toolbar.black .ad-bar-button.square>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.square.black>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.square>div,body.HiDPI .ad-search-bar.black .ad-bar-button.square>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueButton@2x.png') 0 10 0 10;
}
.ad-bar-button.square.black.highlighted>div,.ad-toolbar.black .ad-bar-button.square.highlighted>div,.ad-toolbar.black-translucent .ad-bar-button.square.highlighted>div,.ad-navigation-bar.black .ad-bar-button.square.highlighted>div,.ad-navigation-bar.black-translucent .ad-bar-button.square.highlighted>div,.ad-search-bar.black .ad-bar-button.square.highlighted>div,.ad-search-bar.black-translucent .ad-bar-button.square.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackButtonPressed.png') 0 5 0 5!important;
}
body.HiDPI .ad-bar-button.square.black.highlighted>div,body.HiDPI .ad-toolbar.black .ad-bar-button.square.highlighted>div,body.HiDPI .ad-toolbar.black-translucent .ad-bar-button.square.highlighted>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.square.highlighted>div,body.HiDPI .ad-navigation-bar.black-translucent .ad-bar-button.square.highlighted>div,body.HiDPI .ad-search-bar.black .ad-bar-button.square.highlighted>div,body.HiDPI .ad-search-bar.black-translucent .ad-bar-button.square.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackButtonPressed@2x.png') 0 10 0 10!important;
}
.ad-bar-button.square.lightblue>div,.ad-toolbar.black .ad-bar-button.square.lightblue>div,.ad-toolbar.black-translucent .ad-bar-button.square.lightblue>div,.ad-navigation-bar.black .ad-bar-button.square.lightblue>div,.ad-navigation-bar.black-translucent .ad-bar-button.square.lightblue>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDoneButton.png') 0 5 0 5;
}
body.HiDPI .ad-bar-button.square.lightblue>div,body.HiDPI .ad-toolbar.black .ad-bar-button.square.lightblue>div,body.HiDPI .ad-toolbar.black-translucent .ad-bar-button.square.lightblue>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.square.lightblue>div,body.HiDPI .ad-navigation-bar.black-translucent .ad-bar-button.square.lightblue>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDoneButton@2x.png') 0 10 0 10;
}
body.iPad .ad-bar-button.square.lightblue>div,body.iPad .ad-toolbar.black .ad-bar-button.square.lightblue>div,body.iPad .ad-toolbar.black-translucent .ad-bar-button.square.lightblue>div,body.iPad .ad-navigation-bar.black .ad-bar-button.square.lightblue>div,body.iPad .ad-navigation-bar.black-translucent .ad-bar-button.square.lightblue>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDoneButtonSilver.png') 0 5 0 5;
}
.ad-bar-button.square.lightblue.highlighted>div,.ad-toolbar.black .ad-bar-button.square.lightblue.highlighted>div,.ad-toolbar.black-translucent .ad-bar-button.square.lightblue.highlighted>div,.ad-navigation-bar.black .ad-bar-button.square.lightblue.highlighted>div,.ad-navigation-bar.black-translucent .ad-bar-button.square.lightblue.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDoneButtonPressed.png') 0 5 0 5!important;
}
body.HiDPI .ad-bar-button.square.lightblue.highlighted>div,body.HiDPI .ad-toolbar.black .ad-bar-button.square.lightblue.highlighted>div,body.HiDPI .ad-toolbar.black-translucent .ad-bar-button.square.lightblue.highlighted>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.square.lightblue.highlighted>div,body.HiDPI .ad-navigation-bar.black-translucent .ad-bar-button.square.lightblue.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDoneButtonPressed@2x.png') 0 10 0 10!important;
}
body.iPad .ad-bar-button.square.lightblue.highlighted>div,body.iPad .ad-toolbar.black .ad-bar-button.square.lightblue.highlighted>div,body.iPad .ad-toolbar.black-translucent .ad-bar-button.square.lightblue.highlighted>div,body.iPad .ad-navigation-bar.black .ad-bar-button.square.lightblue.highlighted>div,body.iPad .ad-navigation-bar.black-translucent .ad-bar-button.square.lightblue.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDoneButtonPressedSilver.png') 0 5 0 5!important;
}
.ad-bar-button.back>div {
	padding:8px 4px 0 0;
	border-width:0 4px 0 12px;
}
.ad-bar-button.back.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultBack.png') 0 4 0 12;
}
body.HiDPI .ad-bar-button.back.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultBack@2x.png') 0 8 0 24;
}
body.iPad .ad-bar-button.back.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarSilverBack.png') 0 4 0 12;
}
.ad-bar-button.back.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultBackPressed.png') 0 4 0 12;
}
body.HiDPI .ad-bar-button.back.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultBackPressed@2x.png') 0 8 0 24;
}
body.iPad .ad-bar-button.back.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarSilverBackPressed.png') 0 4 0 12;
}
.ad-bar-button.back.black>div,.ad-toolbar.black .ad-bar-button.back>div,.ad-navigation-bar.black .ad-bar-button.back>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueBack.png') 0 4 0 12;
}
.ad-toolbar.black-translucent .ad-bar-button.back.highlighted>div,.ad-navigation-bar.black-translucent .ad-bar-button.back.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueBack.png') 0 4 0 12!important;
}
body.HiDPI .ad-bar-button.back.black>div,body.HiDPI .ad-toolbar.black .ad-bar-button.back>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.back>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueBack@2x.png') 0 8 0 24;
}
body.HiDPI .ad-toolbar.black-translucent .ad-bar-button.back.highlighted>div,body.HiDPI .ad-navigation-bar.black-translucent .ad-bar-button.back.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueBack@2x.png') 0 8 0 24!important;
}
.ad-bar-button.back.black.highlighted>div,.ad-toolbar.black .ad-bar-button.back.highlighted>div,.ad-navigation-bar.black .ad-bar-button.back.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackBackPressed.png') 0 4 0 12!important;
}
body.HiDPI .ad-bar-button.back.black.highlighted>div,body.HiDPI .ad-toolbar.black .ad-bar-button.back.highlighted>div,body.HiDPI .ad-navigation-bar.black .ad-bar-button.back.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackBackPressed@2x.png') 0 8 0 24!important;
}
.ad-toolbar.black-translucent .ad-bar-button.back>div,.ad-navigation-bar.black-translucent .ad-bar-button.back>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackTranslucentBack.png') 0 4 0 12!important;
}
body.HiDPI .ad-toolbar.black-translucent .ad-bar-button.back>div,body.HiDPI .ad-navigation-bar.black-translucent .ad-bar-button.back>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackTranslucentBack@2x.png') 0 8 0 24!important;
}
.ad-bar-button.forward>div {
	padding:8px 0 0 4px;
	border-width:0 12px 0 4px;
}
.ad-bar-button.forward.default>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultForward.png') 0 12 0 4;
}
.ad-bar-button.forward.default.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarDefaultForwardPressed.png') 0 12 0 4;
}
.ad-bar-button.forward.black>div,.ad-toolbar.black .ad-bar-button.forward>div,.ad-navigation-bar.black .ad-bar-button.forward>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackOpaqueForward.png') 0 12 0 4;
}
.ad-bar-button.forward.black.highlighted>div,.ad-toolbar.black .ad-bar-button.forward.highlighted>div,.ad-toolbar.black-translucent .ad-bar-button.forward.highlighted>div,.ad-navigation-bar.black .ad-bar-button.forward.highlighted>div,.ad-navigation-bar.black-translucent .ad-bar-button.forward.highlighted>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackForwardPressed.png') 0 12 0 4!important;
}
.ad-toolbar.black-translucent .ad-bar-button.forward>div,.ad-navigation-bar.black-translucent .ad-bar-button.forward>div {
	-webkit-border-image:url('../assets/button/UINavigationBarBlackTranslucentForward.png') 0 12 0 4!important;
}
.ad-slider {
	-webkit-box-sizing:border-box;
	-webkit-border-image:url('../assets/slider/UISliderWhite.png') 0 5 0 5;
	border-width:0 5px 0 5px;
}
body.HiDPI .ad-slider {
	-webkit-border-image:url('../assets/slider/UISliderWhite@2x.png') 0 10 0 10;
}
.ad-slider-fill {
	position:absolute;
	left:-5px;
	right:-5px;
	top:7px;
	height:9px;
}
.ad-slider-fill>div {
	position:absolute;
	width:5px;
	height:9px;
}
.ad-slider-fill>div:nth-of-type(1) {
	left:0;
	background-image:url('../assets/slider/UISliderBlueCap.png');
}
body.HiDPI .ad-slider-fill>div:nth-of-type(1) {
	background-image:url('../assets/slider/UISliderBlueCap@2x.png');
	-webkit-background-size:5px 9px;
}
.ad-slider-fill>div:nth-of-type(2) {
	left:4px;
	width:1px;
	background-image:url('../assets/slider/UISliderBlueFill.png');
	-webkit-transform-origin:top left;
	-webkit-transition-property:-webkit-transform;
}
body.HiDPI .ad-slider-fill>div:nth-of-type(2) {
	background-image:url('../assets/slider/UISliderBlueFill@2x.png');
	-webkit-background-size:1px 9px;
}
.ad-slider-fill>div:nth-of-type(3) {
	left:5px;
	background-image:url('../assets/slider/UISliderBlueRightCap.png');
	-webkit-transition-property:-webkit-transform;
}
body.HiDPI .ad-slider-fill>div:nth-of-type(3) {
	background-image:url('../assets/slider/UISliderBlueRightCap@2x.png');
	-webkit-background-size:5px 9px;
}
.ad-slider-thumb {
	position:absolute;
	left:-6px;
	width:23px;
	height:23px;
	background-image:url('../assets/slider/UISliderHandle.png');
	-webkit-transform:translate3d(0,0,0);
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:0s;
}
body.HiDPI .ad-slider-thumb {
	background-image:url('../assets/slider/UISliderHandle@2x.png');
	-webkit-background-size:23px 23px;
}
.ad-slider-thumb.touched {
	background-image:url('../assets/slider/UISliderHandleDown.png');
}
body.HiDPI .ad-slider-thumb.touched {
	background-image:url('../assets/slider/UISliderHandleDown@2x.png');
}
.ad-tab-bar {
	width:320px;
	height:49px;
	background-image:url('../assets/bar/UIButtonBarBlackOpaqueBackgroundTall.png');
	background-repeat:repeat-x;
	-webkit-box-sizing:border-box;
	-webkit-user-select:none;
}
body.HiDPI .ad-tab-bar {
	background-image:url('../assets/bar/UIButtonBarBlackOpaqueBackgroundTall@2x.png');
	background-size:1px 49px;
}
.ad-tab-bar-item {
	position:absolute;
	top:3px;
	left:0;
	height:43px;
	-webkit-transform:translate3d(0,0,0);
	-webkit-box-sizing:border-box;
	border-width:3px 3px 3px 3px;
	-webkit-border-image:url('../assets/pixel.png') 3 3 3 3;
}
.ad-tab-bar-item>.image {
	position:absolute;
	top:-2px;
}
body.HiDPI .ad-tab-bar-item>.image>canvas {
	zoom:.5;
}
.ad-tab-bar-item>.image>canvas {
	position:absolute;
}
.ad-tab-bar-item.selected>.image>canvas:nth-of-type(1),.ad-tab-bar-item>.image>canvas:nth-of-type(2) {
	visibility:hidden;
}
.ad-tab-bar-item.selected>.image>canvas:nth-of-type(2) {
	visibility:visible;
}
.ad-tab-bar-item>.title {
	position:absolute;
	bottom:-3px;
	width:100%;
	font-size:10px;
	font-weight:bold;
	font-family:Helvetica;
	text-align:center;
	color:#c6c6c6;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ad-tab-bar-item>.badge {
	position:absolute;
	top:-4px;
	min-width:22px;
	height:23px;
	font-size:10px;
	font-weight:bold;
	font-family:Helvetica;
	text-align:center;
	color:white;
	border-width:0 10px 0 10px;
	-webkit-border-image:url('../assets/bar/UIButtonBarBadge.png') 0 10 0 10;
	-webkit-box-sizing:border-box;
	padding:2px 0 0 0;
	display:none;
}
body.HiDPI .ad-tab-bar-item>.badge {
	-webkit-border-image:url('../assets/bar/UIButtonBarBadge@2x.png') 0 20 0 20;
}
.ad-tab-bar-item>.badge>span {
	display:block;
	margin:0 -3px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ad-tab-bar-item.selected {
	-webkit-border-image:url('../assets/bar/UIButtonBarSelectedIndicator.png') 3 3 3 3;
}
body.HiDPI .ad-tab-bar-item.selected {
	-webkit-border-image:url('../assets/bar/UIButtonBarSelectedIndicator@2x.png') 6 6 6 6;
}
.ad-tab-bar-item.selected>.badge {
	color:white;
}
.ad-toolbar {
	width:320px;
	height:44px;
	background-repeat:repeat;
	background-size:1px 44px;
	-webkit-box-sizing:border-box;
	-webkit-user-select:none;
}
.ad-toolbar.default {
	background-image:url('../assets/bar/UIButtonBarDefaultBackground.png');
}
body.iPad .ad-toolbar.default {
	background-image:url('../assets/bar/UIButtonBarSilverBackground.png');
}
body.HiDPI .ad-toolbar.default {
	background-image:url('../assets/bar/UIButtonBarDefaultBackground@2x.png');
}
.ad-toolbar.black {
	background-image:url('../assets/bar/UIButtonBarBlackOpaqueBackground.png');
}
body.HiDPI .ad-toolbar.black {
	background-image:url('../assets/bar/UIButtonBarBlackOpaqueBackground@2x.png');
}
.ad-toolbar.black-translucent {
	background-image:url('../assets/bar/UIButtonBarBlackTranslucentBackground.png');
}
body.HiDPI .ad-toolbar.black-translucent {
	background-image:url('../assets/bar/UIButtonBarBlackTranslucentBackground@2x.png');
}
.ad-toolbar.top {
	background-position:0 -1px;
}
body.iPad .ad-toolbar.top.default {
	-webkit-border-radius:5px 5px 0 0;
}
.ad-toolbar>div.glow {
	position:absolute;
	top:-28px;
	left:0;
	width:100px;
	height:100px;
	background-image:url('../assets/bar/UIButtonBarPressedIndicator.png');
	-webkit-transform:translate3d(0,0,0);
	-webkit-transition-property:opacity;
	-webkit-transition-duration:.25s;
	opacity:0;
	z-index:1;
	display:none;
}
body.HiDPI .ad-toolbar>div.glow {
	background-image:url('../assets/bar/UIButtonBarPressedIndicator@2x.png');
	background-size:100px 100px;
}
.ad-rating-control {
	position:absolute;
	top:0;
	left:0;
	height:21px;
}
.ad-rating-control>div {
	display:inline-block;
	width:21px;
	height:21px;
	background-image:url('../assets/rating/star_empty.png');
	margin-right:10px;
}
body.HiDPI .ad-rating-control>div {
	background-image:url('../assets/rating/star_empty@2x.png');
	background-size:21px 21px;
}
.ad-rating-control>div:last-of-type {
	margin-right:0;
}
.ad-rating-control>div.filled {
	background-image:url('../assets/rating/star_filled.png');
}
body.HiDPI .ad-rating-control>div.filled {
	background-image:url('../assets/rating/star_filled@2x.png');
}
.ad-page-control {
	font-size:0;
	-webkit-box-sizing:border-box;
}
.ad-page-control>div {
	display:inline-block;
	width:6px;
	height:6px;
	-webkit-border-radius:3px;
	background-color:white;
	margin-right:10px;
	opacity:.3;
}
.ad-page-control>div.selected {
	opacity:1;
}
.ad-page-control>div:last-of-type {
	margin-right:0;
}
.ad-progress-view {
	-webkit-box-sizing:border-box;
	border-width:0 5px 0 5px;
	-webkit-user-select:none;
}
.ad-progress-view.default {
	height:9px;
	-webkit-border-image:url('../assets/progress/default_outer.png') 0 5 0 5;
}
body.HiDPI .ad-progress-view.default {
	-webkit-border-image:url('../assets/progress/ProgressBarOuter_Default@2x.png') 0 10 0 10;
}
.ad-toolbar .ad-progress-view,.ad-progress-view.bar {
	height:11px;
	-webkit-border-image:url('../assets/progress/bar_outer.png') 0 5 0 5;
}
body.HiDPI .ad-toolbar .ad-progress-view,body.HiDPI .ad-progress-view.bar {
	-webkit-border-image:url('../assets/progress/ProgressBarOuter_Bar@2x.png') 0 10 0 10;
}
.ad-progress-view>div {
	position:absolute;
	left:-5px;
	top:0;
	height:100%;
	border-width:0 5px 0 5px;
	-webkit-box-sizing:border-box;
}
.ad-progress-view.default>div {
	-webkit-border-image:url('../assets/progress/default_inner.png') 0 5 0 5;
}
body.HiDPI .ad-progress-view.default>div {
	-webkit-border-image:url('../assets/progress/ProgressBarInner_Default@2x.png') 0 10 0 10;
}
.ad-progress-view.bar>div {
	-webkit-border-image:url('../assets/progress/bar_inner.png') 0 5 0 5;
}
body.HiDPI .ad-progress-view.bar>div {
	-webkit-border-image:url('../assets/progress/ProgressBarInner_Bar@2x.png') 0 10 0 10;
}
.ad-segmented-control {
	height:44px;
	-webkit-box-sizing:border-box;
	border-width:0 10px 0 10px;
}
.ad-segmented-control>div {
	position:absolute;
	height:100%;
	background-repeat:no-repeat;
	-webkit-box-sizing:border-box;
}
.ad-segmented-control>div>div {
	display:block;
	position:absolute;
	top:0;
	height:100%;
}
.ad-segmented-control>div:first-of-type {
	background-image:none!important;
}
.ad-segmented-control>div:first-of-type:last-of-type.selected>div:first-of-type {
	left:10px!important;
	right:10px!important;
	width:auto!important;
	background-repeat:repeat!important;
}
body.HiDPI .ad-segmented-control>div:first-of-type:last-of-type.selected>div:first-of-type {
	left:11px!important;
	right:11px!important;
}
.ad-segmented-control>div:first-of-type:last-of-type.selected>div:last-of-type {
	left:0!important;
	right:0!important;
	width:auto!important;
	background-repeat:no-repeat,no-repeat!important;
	background-position:left,right!important;
}
.ad-segmented-control>div>span {
	display:block;
	position:absolute;
	font-family:Helvetica;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ad-segmented-control>div>img {
	position:absolute;
}
.ad-segmented-control.plain {
	-webkit-border-image:url('../assets/segments/plain/button.png') 0 10 0 10;
}
body.HiDPI .ad-segmented-control.plain {
	-webkit-border-image:url('../assets/segments/plain/button@2x.png') 0 22 0 22;
}
.ad-segmented-control.plain>div {
	background-image:url('../assets/segments/plain/divider.png');
}
body.HiDPI .ad-segmented-control.plain>div {
	background-image:url('../assets/segments/plain/divider@2x.png');
	background-size:1px 44px;
}
.ad-segmented-control.plain>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/plain/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.plain>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/plain/button_highlighted_fill@2x.png');
	background-size:1px 44px;
}
.ad-segmented-control.plain>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/plain/button_highlighted_left_cap.png'),url('../assets/segments/plain/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.plain>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/plain/button_highlighted_left_cap@2x.png'),url('../assets/segments/plain/button_highlighted_right_cap@2x.png');
	background-size:11px 44px;
}
.ad-segmented-control.plain>div:first-of-type.selected>div:first-of-type {
	left:0;
	width:10px;
	background-image:url('../assets/segments/plain/button_highlighted_left_cap.png');
}
body.HiDPI .ad-segmented-control.plain>div:first-of-type.selected>div:first-of-type {
	width:11px;
	background-image:url('../assets/segments/plain/button_highlighted_left_cap@2x.png');
	background-size:11px 44px;
}
.ad-segmented-control.plain>div:first-of-type.selected>div:last-of-type {
	left:10px;
	right:0;
	background-image:url('../assets/segments/plain/divider_hilighted_right.png'),url('../assets/segments/plain/button_highlighted_fill.png');
	background-repeat:no-repeat,repeat-x;
	background-position:right,0 0;
}
body.HiDPI .ad-segmented-control.plain>div:first-of-type.selected>div:last-of-type {
	left:11px;
	background-image:url('../assets/segments/plain/divider_hilighted_right@2x.png'),url('../assets/segments/plain/button_highlighted_fill@2x.png');
	background-size:6px 44px,1px 44px;
}
.ad-segmented-control.plain>div:last-of-type.selected>div:first-of-type {
	left:0;
	right:10px;
	background-image:url('../assets/segments/plain/divider_hilighted_left.png'),url('../assets/segments/plain/button_highlighted_fill.png');
	background-repeat:no-repeat,repeat-x;
}
body.HiDPI .ad-segmented-control.plain>div:last-of-type.selected>div:first-of-type {
	right:11px;
	background-image:url('../assets/segments/plain/divider_hilighted_left@2x.png'),url('../assets/segments/plain/button_highlighted_fill@2x.png');
	background-size:6px 44px,1px 44px;
}
.ad-segmented-control.plain>div:last-of-type.selected>div:last-of-type {
	right:0;
	width:10px;
	background-image:url('../assets/segments/plain/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.plain>div:last-of-type.selected>div:last-of-type {
	width:11px;
	background-image:url('../assets/segments/plain/button_highlighted_right_cap@2x.png');
	background-size:11px 44px;
}
.ad-segmented-control.plain>div.selected>div:first-of-type {
	left:0;
	right:0;
	background-image:url('../assets/segments/plain/divider_hilighted_left.png'),url('../assets/segments/plain/divider_hilighted_right.png'),url('../assets/segments/plain/button_highlighted_fill.png');
	background-repeat:no-repeat,no-repeat,repeat-x;
	background-position:0 0,right,0 0;
}
body.HiDPI .ad-segmented-control.plain>div.selected>div:first-of-type {
	background-image:url('../assets/segments/plain/divider_hilighted_left.png'),url('../assets/segments/plain/divider_hilighted_right.png'),url('../assets/segments/plain/button_highlighted_fill.png');
	background-size:6px 44px,6px 44px,1px 44px;
}
.ad-segmented-control.plain>div>span {
	left:7px;
	right:7px;
	padding-top:11px;
	font-size:18px;
	color:#767676;
	text-shadow:rgba(255,255,255,1) 0 1px 0;
}
.ad-segmented-control.plain>div.selected>span {
	color:white;
	text-shadow:rgba(0,0,0,.6) 0 -1px 0;
}
.ad-segmented-control.bordered {
	-webkit-border-image:url('../assets/segments/bordered/button.png') 0 10 0 10;
}
body.HiDPI .ad-segmented-control.bordered {
	-webkit-border-image:url('../assets/segments/bordered/button@2x.png') 0 22 0 22;
}
.ad-segmented-control.bordered>div {
	background-image:url('../assets/segments/bordered/divider.png');
}
body.HiDPI .ad-segmented-control.bordered>div {
	background-image:url('../assets/segments/bordered/divider@2x.png');
	background-size:1px 44px;
}
.ad-segmented-control.bordered>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bordered/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bordered>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bordered/button_highlighted_fill@2x.png');
	background-size:1px 44px;
}
.ad-segmented-control.bordered>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bordered/button_highlighted_left_cap.png'),url('../assets/segments/bordered/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.bordered>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bordered/button_highlighted_left_cap@2x.png'),url('../assets/segments/bordered/button_highlighted_right_cap@2x.png');
	background-size:11px 44px;
}
.ad-segmented-control.bordered>div:first-of-type.selected>div:first-of-type {
	left:0;
	width:10px;
	background-image:url('../assets/segments/bordered/button_highlighted_left_cap.png');
}
body.HiDPI .ad-segmented-control.bordered>div:first-of-type.selected>div:first-of-type {
	width:11px;
	background-image:url('../assets/segments/bordered/button_highlighted_left_cap@2x.png');
	background-size:11px 44px;
}
.ad-segmented-control.bordered>div:first-of-type.selected>div:last-of-type {
	left:10px;
	right:0;
	background-image:url('../assets/segments/bordered/divider_hilighted_right.png'),url('../assets/segments/bordered/button_highlighted_fill.png');
	background-repeat:no-repeat,repeat-x;
	background-position:right,0 0;
}
body.HiDPI .ad-segmented-control.bordered>div:first-of-type.selected>div:last-of-type {
	left:11px;
	background-image:url('../assets/segments/bordered/divider_hilighted_right@2x.png'),url('../assets/segments/bordered/button_highlighted_fill@2x.png');
	background-size:6px 44px,1px 44px;
}
.ad-segmented-control.bordered>div:last-of-type.selected>div:first-of-type {
	left:0;
	right:10px;
	background-image:url('../assets/segments/bordered/divider_hilighted_left.png'),url('../assets/segments/bordered/button_highlighted_fill.png');
	background-repeat:no-repeat,repeat-x;
}
body.HiDPI .ad-segmented-control.bordered>div:last-of-type.selected>div:first-of-type {
	right:11px;
	background-image:url('../assets/segments/bordered/divider_hilighted_left@2x.png'),url('../assets/segments/bordered/button_highlighted_fill@2x.png');
	background-size:6px 44px,1px 44px;
}
.ad-segmented-control.bordered>div:last-of-type.selected>div:last-of-type {
	right:0;
	width:10px;
	background-image:url('../assets/segments/bordered/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.bordered>div:last-of-type.selected>div:last-of-type {
	width:11px;
	background-image:url('../assets/segments/bordered/button_highlighted_right_cap@2x.png');
	background-size:11px 44px;
}
.ad-segmented-control.bordered>div.selected>div:first-of-type {
	left:0;
	right:0;
	background-image:url('../assets/segments/bordered/divider_hilighted_left.png'),url('../assets/segments/bordered/divider_hilighted_right.png'),url('../assets/segments/bordered/button_highlighted_fill.png');
	background-repeat:no-repeat,no-repeat,repeat-x;
	background-position:0 0,right,0 0;
}
body.HiDPI .ad-segmented-control.bordered>div.selected>div:first-of-type {
	background-image:url('../assets/segments/bordered/divider_hilighted_left.png'),url('../assets/segments/bordered/divider_hilighted_right.png'),url('../assets/segments/bordered/button_highlighted_fill.png');
	background-size:6px 44px,6px 44px,1px 44px;
}
.ad-segmented-control.bordered>div>span {
	left:7px;
	right:7px;
	padding-top:11px;
	font-size:18px;
	color:#767676;
	text-shadow:rgba(255,255,255,1) 0 1px 0;
}
.ad-segmented-control.bordered>div.selected>span {
	color:white;
	text-shadow:rgba(0,0,0,.6) 0 -1px 0;
}
.ad-segmented-control.bar {
	height:30px;
	border-width:0 6px 0 6px;
	-webkit-border-image:url('../assets/segments/bar/button.png') 0 6 0 6;
}
body.HiDPI .ad-segmented-control.bar {
	-webkit-border-image:url('../assets/segments/bar/button@2x.png') 0 12 0 12;
}
.ad-segmented-control.bar>div {
	background-image:url('../assets/segments/bar/divider.png');
}
body.HiDPI .ad-segmented-control.bar>div {
	background-image:url('../assets/segments/bar/divider@2x.png');
	background-size:1px 30px;
}
.ad-segmented-control.bar>div:first-of-type:last-of-type.selected>div:first-of-type {
	left:6px!important;
	right:6px!important;
	background-image:url('../assets/segments/bar/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_fill@2x.png');
	background-size:6px 30px;
}
.ad-segmented-control.bar>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_left_cap.png'),url('../assets/segments/bar/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.bar>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_left_cap@2x.png'),url('../assets/segments/bar/button_highlighted_right_cap@2x.png');
	background-size:6px 30px;
}
.ad-segmented-control.bar>div:first-of-type.selected>div:first-of-type {
	left:0;
	width:6px;
	background-image:url('../assets/segments/bar/button_highlighted_left_cap.png');
}
body.HiDPI .ad-segmented-control.bar>div:first-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_left_cap@2x.png');
	background-size:6px 30px;
}
.ad-segmented-control.bar>div:first-of-type.selected>div:last-of-type {
	left:6px;
	right:0;
	background-image:url('../assets/segments/bar/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar>div:first-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_fill@2x.png');
	background-size:1px 30px;
}
.ad-segmented-control.bar>div:last-of-type.selected>div:first-of-type {
	left:0;
	right:6px;
	background-image:url('../assets/segments/bar/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar>div:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_fill@2x.png');
	background-size:1px 30px;
}
.ad-segmented-control.bar>div:last-of-type.selected>div:last-of-type {
	right:0;
	width:6px;
	background-image:url('../assets/segments/bar/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.bar>div:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_right_cap@2x.png');
	background-size:6px 30px;
}
.ad-segmented-control.bar>div.selected>div:first-of-type {
	left:0;
	right:0;
	background-image:url('../assets/segments/bar/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar>div.selected>div:first-of-type {
	background-image:url('../assets/segments/bar/button_highlighted_fill@2x.png');
	background-size:1px 30px;
}
.ad-segmented-control.bar>div>span {
	left:6px;
	right:6px;
	padding-top:8px;
	font-size:12px;
	color:white;
	text-shadow:rgba(0,0,0,.6) 0 -1px 0;
}
.ad-segmented-control.bar.black {
	-webkit-border-image:url('../assets/segments/bar-black/button.png') 0 6 0 6;
}
body.HiDPI .ad-segmented-control.bar.black {
	-webkit-border-image:url('../assets/segments/bar-black/button@2x.png') 0 12 0 12;
}
.ad-segmented-control.bar.black>div {
	background-image:url('../assets/segments/bar-black/divider.png');
}
body.HiDPI .ad-segmented-control.bar.black>div {
	background-image:url('../assets/segments/bar-black/divider@2x.png');
}
.ad-segmented-control.bar.black>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar.black>div:first-of-type:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill@2x.png');
}
.ad-segmented-control.bar.black>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_left_cap.png'),url('../assets/segments/bar-black/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.bar.black>div:first-of-type:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_left_cap@2x.png'),url('../assets/segments/bar-black/button_highlighted_right_cap@2x.png');
}
.ad-segmented-control.bar.black>div:first-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_left_cap.png');
}
body.HiDPI .ad-segmented-control.bar.black>div:first-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_left_cap@2x.png');
}
.ad-segmented-control.bar.black>div:first-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar.black>div:first-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill@2x.png');
}
.ad-segmented-control.bar.black>div:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar.black>div:last-of-type.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill@2x.png');
}
.ad-segmented-control.bar.black>div:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_right_cap.png');
}
body.HiDPI .ad-segmented-control.bar.black>div:last-of-type.selected>div:last-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_right_cap@2x.png');
}
.ad-segmented-control.bar.black>div.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill.png');
}
body.HiDPI .ad-segmented-control.bar.black>div.selected>div:first-of-type {
	background-image:url('../assets/segments/bar-black/button_highlighted_fill@2x.png');
}
.ad-switch {
	font-family:Helvetica;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	color:white;
	width:93px;
	height:27px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-sizing:border-box;
}
.ad-switch .slider {
	width:148px;
	height:27px;
	background-image:url('../assets/switch/background_precomposed.png');
}
body.HiDPI .ad-switch .slider {
	background-image:url('../assets/switch/background_precomposed@2x.png');
	background-size:148px 27px;
}
.ad-switch .left-cap,.ad-switch .right-cap {
	position:absolute;
	width:4px;
	height:27px;
	z-index:100;
}
.ad-switch .left-cap.button-cap {
	background-image:url('../assets/switch/left_cap_button.png');
}
body.HiDPI .ad-switch .left-cap.button-cap {
	background-image:url('../assets/switch/left_cap_button@2x.png');
	background-size:4px 27px;
}
.ad-switch.dragging .left-cap.button-cap {
	background-image:url('../assets/switch/left_cap_button_down.png');
}
body.HiDPI .ad-switch.dragging .left-cap.button-cap {
	background-image:url('../assets/switch/left_cap_button_down@2x.png');
	background-size:4px 27px;
}
.ad-switch .left-cap.track-cap {
	background-image:url('../assets/switch/left_cap_track.png');
}
body.HiDPI .ad-switch .left-cap.track-cap {
	background-image:url('../assets/switch/left_cap_track@2x.png');
	background-size:4px 27px;
}
.ad-switch .right-cap {
	left:89px;
}
.ad-switch .right-cap.button-cap {
	background-image:url('../assets/switch/right_cap_button.png');
}
body.HiDPI .ad-switch .right-cap.button-cap {
	background-image:url('../assets/switch/right_cap_button@2x.png');
	background-size:4px 27px;
}
.ad-switch.dragging .right-cap.button-cap {
	background-image:url('../assets/switch/right_cap_button_down.png');
}
body.HiDPI .ad-switch.dragging .right-cap.button-cap {
	background-image:url('../assets/switch/right_cap_button_down@2x.png');
	background-size:4px 27px;
}
.ad-switch .right-cap.track-cap {
	background-image:url('../assets/switch/right_cap_track.png');
}
body.HiDPI .ad-switch .right-cap.track-cap {
	background-image:url('../assets/switch/right_cap_track@2x.png');
	background-size:4px 27px;
}
.ad-switch .slide-container {
	overflow:hidden;
	width:85px;
	height:27px;
	-webkit-transform:translate3d(4px,0,0);
}
.ad-switch .slider.snap {
	-webkit-transition:-webkit-transform .12s linear;
}
.ad-switch .slider.dragging .button {
	background-image:url('../assets/switch/button_down_precomposed.png');
}
body.HiDPI .ad-switch .slider.dragging .button {
	background-image:url('../assets/switch/button_down_precomposed@2x.png');
	background-size:45px 27px;
}
.ad-switch .button {
	position:absolute;
	width:45px;
	height:27px;
	left:51px;
	top:0;
	background-image:url('../assets/switch/button_precomposed.png');
}
body.HiDPI .ad-switch .button {
	background-image:url('../assets/switch/button_precomposed@2x.png');
	background-size:45px 27px;
}
.ad-switch.dragging .button {
	background-image:url('../assets/switch/button_down_precomposed.png');
}
body.HiDPI .ad-switch.dragging .button {
	background-image:url('../assets/switch/button_down_precomposed@2x.png');
	background-size:45px 27px;
}
.ad-switch .label-off,.ad-switch .label-on {
	position:absolute;
	top:5px;
	color:black;
	font-family:Helvetica;
	font-size:16px;
	text-align:center;
	width:54px;
}
.ad-switch .label-off {
	left:93px;
	color:#7f7f7f;
}
.ad-switch .label-off:before {
	content:'OFF';
}
.ad-switch .label-on {
	text-shadow:rgba(0,0,0,.6) 0 -1px 0;
	left:0;
	color:white;
}
.ad-switch .label-on:before {
	content:'ON';
}
.ad-search-bar {
	width:100%;
	height:44px;
	background-repeat:repeat-x;
	-webkit-background-size:1px 44px;
	-webkit-box-sizing:border-box;
	-webkit-user-select:none;
}
.ad-search-bar {
	background-image:url('../assets/search/background_default.png');
}
body.HiDPI .ad-search-bar {
	background-image:url('../assets/search/UISearchBarDefaultBackground@2x.png');
}
.ad-search-bar.black {
	background-image:url('../assets/bar/UINavigationBarBlackOpaqueBackground.png');
}
body.HiDPI .ad-search-bar.black {
	background-image:url('../assets/bar/UINavigationBarBlackOpaqueBackground@2x.png');
}
.ad-search-bar.black-translucent {
	background-image:url('../assets/bar/UINavigationBarBlackTranslucentBackground.png');
}
body.HiDPI .ad-search-bar.black-translucent {
	background-image:url('../assets/bar/UINavigationBarBlackTranslucentBackground@2x.png');
}
.ad-toolbar .ad-search-bar,.ad-navigation-bar .ad-search-bar {
	background-image:none;
}
.ad-search-bar>form {
	position:absolute;
	top:6px;
	left:5px;
	right:5px;
	height:31px;
	border-width:0 17px 0 17px;
	-webkit-border-image:url('../assets/search/border.png') 0 17 0 17;
	-webkit-box-sizing:border-box;
}
body.HiDPI .ad-search-bar>form {
	-webkit-border-image:url('../assets/search/UISearchBarBorder@2x.png') 0 34 0 34;
}
.ad-search-bar>.ad-bar-button.square {
	position:absolute;
	top:7px;
	left:auto;
	right:5px;
	visibility:hidden;
	pointer-events:none;
}
.ad-search-bar.shows-cancel-button>.ad-bar-button.square {
	visibility:visible;
	pointer-events:all;
}
.ad-search-bar>.ad-button {
	position:absolute;
	top:3px;
	left:auto;
	right:10px;
	width:19px;
	height:19px;
	background-image:url('../assets/search/cancel_normal.png');
	background-repeat:no-repeat;
}
body.HiDPI .ad-search-bar>.ad-button {
	background-image:url('../assets/search/UITextFieldClearButton@2x.png');
	-webkit-background-size:19px 19px;
}
.ad-search-bar>.ad-button.highlighted {
	background-image:url('../assets/search/cancel_touched.png');
}
body.HiDPI .ad-search-bar>.ad-button.highlighted {
	background-image:url('../assets/search/UITextFieldClearButtonPressed@2x.png');
}
.ad-search-bar.displays-placeholder>.ad-button {
	display:none;
}
.ad-search-bar>form>div,.ad-search-bar>form>input {
	position:absolute;
	top:7px;
	height:20px;
	padding:0;
	margin:0;
	font-size:14px;
	font-family:Helvetica;
}
.ad-search-bar.displays-placeholder>form>div,.ad-search-bar.displays-placeholder>form>input {
	color:#c0c0c0;
}
.ad-search-bar.displays-placeholder>form>input {
	background-color:transparent;
}
.ad-search-bar>form>div {
	left:-7px;
	right:13px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-image:url('../assets/search/magnifying_glass.png');
	background-repeat:no-repeat;
	background-position:0 1px;
	padding-left:20px;
}
body.HiDPI .ad-search-bar>form>div {
	background-image:url('../assets/search/UISearchFieldIcon@2x.png');
	-webkit-background-size:14px 15px;
}
.ad-search-bar>form>input {
	left:12px;
	right:14px;
	top:5px;
	-webkit-appearance:none;
	border:none;
	-webkit-border-radius:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background-color:white;
	opacity:0;
}
.ad-search-bar>form>input:focus {
	opacity:1;
}
.ad-picker-view {
	width:320px;
	height:216px;
	background-image:url('../assets/picker/UIPickerViewBackgroundLeftover.png'),url('../assets/picker/UIPickerViewBackground.png');
	-webkit-user-select:none;
}
body.HiDPI .ad-picker-view {
	background-image:url('../assets/picker/UIPickerViewBackgroundLeftover@2x.png'),url('../assets/picker/UIPickerViewBackground@2x.png');
	-webkit-background-size:1px 216px;
}
.ad-picker-view>.frame {
	position:absolute;
	left:0;
	top:0;
	height:216px;
	background-image:url('../assets/picker/UIPickerViewBackground.png');
}
body.HiDPI .ad-picker-view>.frame {
	background-image:url('../assets/picker/UIPickerViewBackground@2x.png');
	-webkit-background-size:1px 216px;
}
.ad-picker-view>.frame>div:nth-of-type(1) {
	position:absolute;
	left:10px;
	top:0;
	height:216px;
}
.ad-picker-view>.frame>div:nth-of-type(1)>div {
	display:inline-block;
	height:100%;
	border-width:0 5px 0 5px;
	-webkit-border-image:url('../assets/picker/UIPickerViewWheelBackground.png') 0 5 0 5;
	-webkit-box-sizing:border-box;
}
body.HiDPI .ad-picker-view>.frame>div:nth-of-type(1)>div {
	-webkit-border-image:url('../assets/picker/UIPickerViewWheelBackground@2X.png') 0 10 0 10;
}
.ad-picker-view>.frame>div:nth-of-type(2) {
	display:none;
	position:absolute;
	top:86px;
	left:10px;
	height:44px;
}
.ad-picker-view.shows-selection-indicator>.frame>div:nth-of-type(2) {
	display:block;
}
.ad-picker-view>.frame>div:nth-of-type(2)>div {
	display:inline-block;
	height:44px;
	border-width:0 5px 0 5px;
	-webkit-border-image:url('../assets/picker/UIPickerViewSelectionBar.png') 0 5 0 5;
	-webkit-box-sizing:border-box;
}
body.HiDPI .ad-picker-view>.frame>div:nth-of-type(2)>div {
	-webkit-border-image:url('../assets/picker/UIPickerViewSelectionBar@2x.png') 0 10 0 10;
}
.ad-picker-view>.frame>div:nth-of-type(3) {
	position:absolute;
	left:10px;
	top:0;
	height:216px;
}
.ad-picker-view>.frame>div:nth-of-type(4) {
	position:absolute;
	left:10px;
	right:10px;
	top:0;
	height:216px;
	background-image:url('../assets/picker/UIPickerViewShadowsAboveWheel.png');
	background-repeat:repeat-x;
	pointer-events:none;
}
body.HiDPI .ad-picker-view>.frame>div:nth-of-type(4) {
	background-image:url('../assets/picker/UIPickerViewShadowsAboveWheel@2x.png');
	-webkit-background-size:1px 216px;
}
.ad-picker-view>.frame>div:nth-of-type(5) {
	position:absolute;
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	-webkit-border-image:url('../assets/picker/UIPickerViewFrame.png') 0 15 0 15;
	border-width:0 15px 0 15px;
	pointer-events:none;
	z-index:1;
}
body.HiDPI .ad-picker-view>.frame>div:nth-of-type(5) {
	-webkit-border-image:url('../assets/picker/UIPickerViewFrame@2x.png') 0 30 0 30;
}
.ad-picker-view.shows-selection-indicator>.frame>div:nth-of-type(5) {
	-webkit-border-image:url('../assets/picker/UIPickerViewFrame-Bar.png') 0 15 0 15;
}
body.HiDPI .ad-picker-view.shows-selection-indicator>.frame>div:nth-of-type(5) {
	-webkit-border-image:url('../assets/picker/UIPickerViewFrame-Bar@2x.png') 0 30 0 30;
}
.ad-picker-view>.frame>div:nth-of-type(6) {
	display:none;
	position:absolute;
	top:86px;
	left:10px;
	right:10px;
	height:62px;
	background-image:url('../assets/picker/UIPickerViewSelectionBarAboveWheel.png');
	background-repeat:repeat-x;
	pointer-events:none;
	z-index:2;
}
.ad-picker-view>.frame>div:nth-of-type(6) {
	background-image:url('../assets/picker/UIPickerViewSelectionBarAboveWheel@2x.png');
	-webkit-background-size:1px 62px;
}
.ad-picker-view.shows-selection-indicator>.frame>div:nth-of-type(6) {
	display:block;
}
.ad-picker-view .title-row {
	display:block;
	width:100%;
	height:39px;
	-webkit-box-sizing:border-box;
	font-family:Helvetica;
	font-size:21px;
	font-weight:bold;
	padding:7px 10px 0 10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:black;
	text-shadow:rgba(255,255,255,1) 0 1px 0;
}
.ad-picker-view .title-row:first-of-type {
	margin-top:89px;
}
.ad-button {
	background-repeat:no-repeat;
	background-position:center center;
}
.ad-button.rounded-rect-type,.ad-button.custom-type {
	display:inline-block;
	height:37px;
	min-width:20px;
	-webkit-box-sizing:border-box;
	font-family:Helvetica;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	color:#324f85;
	padding-top:9px;
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ad-button.rounded-rect-type {
	-webkit-border-radius:10px;
	background-color:white;
	border:1px solid rgba(60%,60%,60%,0.94);
}
.ad-button.rounded-rect-type.highlighted {
	background-image:url('../assets/tableview/UITableSelection.png');
	background-repeat:repeat-x;
	border:1px solid #728fbc;
	color:white;
}
body.HiDPI .ad-button.rounded-rect-type.highlighted {
	background-image:url('../assets/tableview/UITableSelection@2x.png');
	-webkit-background-size:1px 43px;
}
.ad-button.detail-disclosure-type {
	background-image:url('../assets/tableview/UITableNextButton.png');
	width:29px;
	height:31px;
}
body.HiDPI .ad-button.detail-disclosure-type {
	background-image:url('../assets/tableview/UITableNextButton@2x.png');
	-webkit-background-size:29px 31px;
}
.ad-button.detail-disclosure-type.highlighted {
	background-image:url('../assets/tableview/UITableNextButtonPressed.png');
}
body.HiDPI .ad-button.detail-disclosure-type.highlighted {
	background-image:url('../assets/tableview/UITableNextButtonPressed@2x.png');
}
.ad-button.info-light-type {
	background-image:url('../assets/button/UIButtonBarInfo.png');
	width:18px;
	height:19px;
}
body.HiDPI .ad-button.info-light-type {
	background-image:url('../assets/button/UIButtonBarInfo@2x.png');
	-webkit-background-size:18px 19px;
}
.ad-button.info-dark-type {
	background-image:url('../assets/button/UIButtonBarInfoDark.png');
	width:18px;
	height:19px;
}
body.HiDPI .ad-button.info-dark-type {
	background-image:url('../assets/button/UIButtonBarInfoDark@2x.png');
	-webkit-background-size:18px 19px;
}
.ad-button.contact-add-type {
	background-image:url('../assets/button/UIButtonBarContactAdd.png');
	width:29px;
	height:29px;
}
body.HiDPI .ad-button.contact-add-type {
	background-image:url('../assets/button/UIButtonBarContactAdd@2x.png');
	-webkit-background-size:29px 29px;
}
.ad-button.contact-add-type.highlighted {
	background-image:url('../assets/button/UIButtonBarContactAddPressed.png');
}
body.HiDPI .ad-button.contact-add-type.highlighted {
	background-image:url('../assets/button/UIButtonBarContactAddPressed@2x.png');
}
.ad-flow-view .ad-flow-view-camera {
	position:absolute;
	-webkit-transform-style:preserve-3d;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:500ms;
	-webkit-transition-timing-function:ease-out;
	-webkit-user-select:none;
}
.ad-flow-view.interactive .ad-flow-view-camera {
	-webkit-transition-property:none;
	-webkit-transition-duration:0s;
}
.ad-flow-view .ad-flow-view-cell-wrapper {
	position:absolute;
	top:0;
	left:-1px;
	width:2px;
	height:2px;
	-webkit-transform-style:preserve-3d;
	-webkit-transition-timing-function:cubic-bezier(0.198,0.595,0,0.9975);
	-webkit-user-select:none;
}
.ad-flow-view .ad-flow-view-cell {
	position:absolute;
	-webkit-transition-timing-function:cubic-bezier(0.17,1,0,1);
	-webkit-user-select:none;
}
.ad-label {
	font-family:Helvetica;
	font-size:15px;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:none;
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.ad-image-view {
	-webkit-background-size:100% 100%;
	-webkit-background-origin:content-box;
}
.ad-transition-controller-view .waiting-on-display {
	visibility:hidden;
	pointer-events:none;
}
.ad-navigation-controller-view {
	-webkit-user-select:none;
}
.ad-navigation-controller-view>.ad-navigation-bar,.ad-navigation-controller-view>.ad-toolbar {
	z-index:1;
}
.ad-navigation-controller-host-view {
	-webkit-user-select: auto;
}